<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061702243941-h1bbt6o8a1f2bmdh8fpscr4e1k7oism7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061702243941-h1bbt6o8a1f2bmdh8fpscr4e1k7oism7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061702243941-7agvdntrahghhdoffkjn4qh73jig64j4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgbwSqSSwY4kC7Nf4Fk80JSLU3_SdhQ8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1061702243941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-d2437</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-d2437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061702243941:ios:a3e23f5c6c30134771188c</string>
</dict>
</plist>